html{
  font-size: 10px;

}
body{
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  background-image: url(img/background.jpeg);
}
header{
  background-color: rgba(85,87,90,255);
  text-align: center;
  height: 50px;
  text-transform: uppercase;
  padding-top: 50px;
}
header img{
  float: left;
  height: 100px;
  margin-top: -50px;
}
header a{
  text-decoration: none;
  color: white;
  font-size: 3vw;
  padding-left: 3vw;
  padding-right: 3vw;
}
header a:hover{
  color: #C3C2C4;
}
main{
  background-color: rgba(0, 0, 0, 0.750);
  height: 1000px;
}
.bio{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  font-size: 2rem;
  color: white;
  text-align: center;
}
.employee{
  margin-bottom: 5px;

}
.bio-title{
  margin-top: 0px;
  margin-bottom: 0px;
}
.bio-img{
  height: 300px;
  width: 300px;
}

footer{
  height: 100px;
  background-color: rgba(255, 0, 0, 0.75);
}